<h2>Interpolation</h2>
<p>{{nome}} tem {{idade}} anos!</p>
<p>{{nome}} tem mais de 26 anos?</p>
<p>{{idade>26}}</p>
<p>Quanto é {{29}} + {{maisUm}}?</p>
<p>{{idade +1}}</p>


<hr>
<h1>Property Binding</h1>
<button [disabled]="checkedDisabled">Btn</button>

<img [src]="imgJava" [title]="imgTitle" [alt]="imgTitle" height="200px">

<hr>


<h2>Event Binding</h2>

<button (click)="alertaInf($event)">Evento</button>
{{position.x}} - {{position.y}}
<div (mousemove)="mouseMoveTeste($event)" style="background-color: red; width: 300px; height:300px"></div>
