<div class="container mat-elevation-z8">
   <h1 class="full-widht">Criando Chamado</h1>
   <img class="full-widht" src="assets/img/chamado-create.svg" alt="Chamado image">
   <mat-form-field class=" full-widht" appearance="outline">
      <mat-label>Título do Chamado</mat-label>
      <input [formControl]="titulo" [(ngModel)]="chamado.titulo" required matInput placeholder="Ex. Trocar Bateria">
   </mat-form-field>
   <div class="status-prioridade">
      <mat-form-field appearance="outline">
         <mat-label>Selecione um Status</mat-label>
         <mat-select [formControl]="status" [(ngModel)]="chamado.status" required>
            <mat-option value=" 0">Aberto</mat-option>
            <mat-option value="1">Em Andamento</mat-option>
            <mat-option value="2">Encerrado</mat-option>
         </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
         <mat-label>Selecione uma prioridade</mat-label>
         <mat-select [(ngModel)]="chamado.prioridade" [formControl]="prioridade" required>
            <mat-option value="0">Baixa</mat-option>
            <mat-option value="1">Media</mat-option>
            <mat-option value="2">Alta</mat-option>
         </mat-select>
      </mat-form-field>
   </div>

   <div class="tecnico">
      <mat-form-field class="full-widht" appearance="outline">
         <mat-label>Selecione um Técnico</mat-label>
         <mat-select [(ngModel)]="chamado.tecnico" [formControl]="tecnico" required>
            <mat-option *ngFor="let tec of tecnicos" value="{{tec.id}}">{{tec.nome}}</mat-option>
         </mat-select>
      </mat-form-field>
   </div>

   <div class="cliente">
      <mat-form-field class="full-widht" appearance="outline">
         <mat-label>Selecione um Cliente</mat-label>
         <mat-select [(ngModel)]="chamado.cliente" [formControl]="cliente" required>
            <mat-option *ngFor="let c of clientes" value="{{c.id}}">{{c.nome}}</mat-option>
         </mat-select>
      </mat-form-field>
   </div>

   <mat-form-field class="full-widht " appearance="outline">
      <mat-label>Deixe um descrição</mat-label>
      <textarea [(ngModel)]="chamado.observacoes" [formControl]="descricao" required class="descricao" matInput
         placeholder="Ex. Trocar Bateria de Notebook queimada..."></textarea>
   </mat-form-field>

   <button class="full-widht mat-elevation-z4" (click)="create()" [disabled]="!validaCampos()" mat-raised-button
      color="primary">Adicionar</button>
   <button class="full-widht mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>

</div>